/**
 * to-do list
 */

body {
  margin:   0;
  padding:  0;
}

.header {
  height:            70px;
  background-color:  #24292F;
  width:             100%;
}

.header .header__content {
  width:      1080px;
  margin:     auto;
}

.header .header__logo {
  color:             white;
  line-height:       70px;
  font-size:         20px;
  font-weight:       bold;
}

.body {
  white-space: pre-wrap;
}

.main {
  width:      980px;
  margin:     100px auto;
  padding:    100px;
  box-shadow: 0 0 4px gray;
  position:   relative;
}

.success-message {
  margin:      30px 0;
  text-align:  center;
}

.todo_header {
  text-align: right;
}

.todo_header .todo_header_item {
  display:     inline-block;
  margin-left: 5px;
}

.todo_footer {
  text-align: right;
}

.todo_footer .todo_footer_item {
  display:     inline-block;
  margin-left: 5px;
}

.card {
  border-bottom: 1px solid rgb(56, 68, 77);
  width:         100%;
  padding:       5px;
  cursor:        pointer;
}

.card .card_content {
  padding: 5px;
}

.card_footer {
  text-align: right;
}

.card_footer .card_footer_item {
  display:     inline-block;
  margin-left: 5px;
}

.card_footer .card_footer_item a:link,
.card_footer .card_footer_item i {
  color:     white;
  font-size: 0.9em;
  cursor:    pointer;
}

/******* フォームのinfoを非表示に *******/
.info {
  display: none;
}
