@import lib.model.form.TodoFormData
@(vv: model.ViewValueCommon, form: Form[TodoFormData], categoryOption: Seq[(String, String)])(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)
@common.Default(vv) {
    @helper.form(action = controllers.routes.HomeController.store) {
        @helper.CSRF.formField
        @helper.textarea(form("title"),
            'rows -> 1, 'cols -> 40,
            '_label -> "title", '_showConstrainsts -> false)
        @helper.textarea(form("body"),
            'rows -> 3, 'cols -> 40,
            '_label -> "Body", '_showConstrainsts -> false)
        @helper.select(
            field = form("category"),
            options = categoryOption,
        )
        <input type="submit" value="登録" />
    }
}

