@*
 *
 * to do sample project
 *
 *@
@import lib.model.Todo
@import lib.model.Category
@(vv: model.ViewValueCommon, todos: Seq[Todo], categoryMap: Map[Category.Id, Category])
@common.Default(vv){
   <ul>
    @for(todo <- todos) {
        <div class="card">
          <div><label>Title:</label> @todo.title</div>
          <div><label>Body:</label> @todo.body</div>
          <div><label>Status:</label> @todo.state.name</div>
          <div><label>Category:</label> @categoryMap(todo.categoryId.get).name</div>
        </div>
    }
    <p><a>カテゴリー</a></p>
 </ul>
}
